*{
    text-align:center;
    font-size:20px;
    background-color:rgb(102, 10, 21);
}

@media only screen and (max-width: 600px) {
    .container{
        margin:0 auto;
        max-width:500px;
    }
    #loginContainer{
        max-height:500px;
    }
    #registrationContainer{
        max-height:700px;
    }
    #existingUser,#existingUserLink,#newUser,#newUserLink{
        display:block;
    }
}

@media only screen and (min-width: 600px) {
    .container{
        margin:0 auto;
        max-width:500px;
    }
    #loginContainer{
        max-height:500px;
    }
    #registrationContainer{
        max-height:700px;
    }
    #existingUser,#existingUserLink,#newUser,#newUserLink{
        display:block;
    }
}

@media only screen and (min-width: 768px) {
    .container{
        margin:0 auto;
        max-width:500px;
    }
    #loginContainer{
        max-height:500px;
    }
    #registrationContainer{
        max-height:700px;
    }
    #existingUser,#existingUserLink,#newUser,#newUserLink{
        display:block;
    }
} 

@media only screen and (min-width: 992px) {
    .container{
        margin:0 auto;
        max-width:500px;
    }
    #loginContainer{
        max-height:500px;
    }
    #registrationContainer{
        max-height:700px;
    }
    #existingUser,#existingUserLink,#newUser,#newUserLink{
        display:inline;
    }
} 

@media only screen and (min-width: 1200px) {
    .container{
        margin:0 auto;
        max-width:500px;
    }
    #loginContainer{
        max-height:50%;
    }
    #registrationContainer{
        max-height:700px;
    }
    #existingUser,#existingUserLink,#newUser,#newUserLink{
        display:inline;
    }
}